.space {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url('../../images/main-bg.png');
    background-position-x: -15px;
    background-size: 120%;
    background-repeat: no-repeat;
    background-color: #000;
}